$thead-background: #f3f5f7;

table {
	width: 100%;

	thead {
		background-color: $thead-background;
	}

	tbody {
		&.is-scrollable {
			overflow: auto;
		}
	}

	td {
		padding: 0.5em;

		&.is-left {
			text-align: left;
		}
		&.is-right {
			text-align: left;
		}
	}

	tr {
		border-bottom: 1px solid #ccc;
	}
}

